/* Main elements */

body:before {
   content: "";
   position: fixed;
   top: -10px;
   left: 0;
   width: 100%;
   height: 10px;
   z-index: 10000;
   -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
   -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
   box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}

body:after {
   content: "";
   position: fixed;
   bottom: -12px;
   left: 0;
   width: 100%;
   height: 10px;
   z-index: 9950;
   -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
   -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
   box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}

/* General rules */

section h2 {
    border-bottom: 1px solid #3CB9C6;
    padding-left: 20px;
}

p {
    text-align: justify;
}

/* Body */

aside {
    position: relative;
    background-color: #AD1D28;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    color: white;
    font-size: 0.9em;
}

aside h3, aside h4 {
    text-align: center;
}

.arrow-aside {
    position: absolute;
    top: 100px;
    left: -12px;
}

/* Home */

.padded {
    padding-left: 35px;
    padding-right: 35px;
}

#picture {
    text-align: center;
    padding: 15px;
}

#picture img {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

#networks {
    padding: 15px;
    text-align: center;
}

#networks a img:hover {
    opacity: 0.8;
}

/* Project page */

#projects {
    margin-top: 30px;
}

.project-details {
    width: 100%;
    margin: 0 auto;
}

.project-nav {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0px 2px 5px #DDD;
    margin-bottom: 30px;
}

.project-nav a {
    text-decoration: none;
    color: #706b64;
}

.project-nav h2 {
    height: 60px;
    font-size: 1.4em;
    padding-left: 10px;
    line-height: 60px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}


.project {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #3CB9C6;
    margin-top: 40px;
    height: auto;
}

.project aside {
    margin-top: 23px;
    padding-top: 10px;
    padding-bottom: 25px;
}

.project aside ul li {
    height: auto;
    word-wrap: break-word;
}

.project aside ul li p {
    text-align: left;
}

.project aside .icon {
    text-align: center;
}

.project-details p {
    font-size: 0.9em;
}

.project .pin {
    margin-top: 10px;
    float: right;
}

.screenshots {
    margin-top: 25px;
}


.top-spaced {
    margin-top: 30px;
}
/* Footer */

footer {
    border-top: 1px solid #3CB9C6;
    margin-top: 40px;
}

footer p {
    font-size: 0.9em;
    text-align: center;
    padding-top: 20px;
}

footer a {
    color: white;
}

footer a.jump-top {
    display: block;
    width: 54px;
    height: 30px;
    margin: 0 auto;
    background: url('./../img/ico_top.png') no-repeat top center;
}

#more {
    margin-top: 50px;
}

#more .well {
    padding-top: 0px;
    min-height: 221px;
}


/* TODO: A FACTORISER */

@media (min-width: 1200px) {
    .thumbnails .span3 {
        width: 245px;
    }
    .right {
        float: right;
    }
}

@media (min-width: 980px) and (max-width: 1199px) {
    .padded {
        padding-left: 10px;
        padding-right: 10px;
    }
    .thumbnails .span3 {
        width: 200px;
    }
    .right {
        float: right;
    }

}

@media (min-width: 850px) and (max-width: 979px) {
    .container{width:800px;}
    .span9 {
        width: 600px;
    }
    .span3 {
        width: 180px;
    }
    .padded {
        padding-left: 5px;
        padding-right: 5px;
    }
    a.thumbnail:hover {
        border: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .thumbnail {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -moz-transition: none;
        -webkit-transition: none;
        -o-transition: color 0 ease-in;
        transition: none;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 850px) {
    .padded {
        padding-left: 5px;
        padding-right: 5px;
    }
    .thumbnails .span3 {
        width: 150px;
    }
    .right {
        text-align: center;
    }
    #more .well {
        min-height: 261px;
    }
    .top-spaced {
        margin-top: 50px;
    }
    a.thumbnail:hover {
        border: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .thumbnail {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -moz-transition: none;
        -webkit-transition: none;
        -o-transition: color 0 ease-in;
        transition: none;
    }
}


/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .padded {
        padding-left: 10px;
        padding-right: 10px;
    }
    .project {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    aside {
        margin-top: 30px;
    }
    .thumbnails li { /* A placer dans bootstrap responsive */
        height: auto;
    }
    .screenshots h4 {
        text-align: center;
    }
    .arrow-aside {
        display: none;
    }
    .right {
        text-align: center;
    }
    #more .well {
        min-height: 1px;
    }
    a.thumbnail:hover {
        border: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .thumbnail {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -moz-transition: none;
        -webkit-transition: none;
        -o-transition: color 0 ease-in;
        transition: none;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .padded {
        padding-left: 0px;
        padding-right: 0px;
    }
    .project {
        padding: 0px;
    }
    aside {
        margin-top: 30px;
    }
    .thumbnails li { /* A placer dans bootstrap responsive */
        height: auto;
    }
    .screenshots h4 {
        text-align: center;
    }
    .arrow-aside {
        display: none;
    }
    .right {
        text-align: center;
    }
    a.thumbnail:hover {
        border: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .thumbnail {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -moz-transition: none;
        -webkit-transition: none;
        -o-transition: color 0 ease-in;
        transition: none;
    }
}

.hero-unit {
       word-wrap: break-word;
}