#header h1 {
    font-size: 50px;
    line-height: 74px;
    color: #343333;
    letter-spacing: -2px;
    font-weight: normal;
    text-align: right;
}

#header h2 {
    letter-spacing: 0;
    font-size: 23px;
    line-height: 27px;
    text-align: right;
}

#header address {
    font-style: normal;
    text-align: right;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 5px;
}

#header a {
    display: block;
    text-align: right;
    font-style: normal;
    text-align: right;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 1=5px;
}

#header .social {
    list-style: none;
}

#header .social a {
    float: left;
    padding: 0 0 0 51px;
    height: 38px;
}

#header .social .mail {
  background-position: 0 0;
}

#header .social .mail:hover {
  background-position: 0 -275px;
}

#header .social .kerem {
  background-position: 0 -47px;
}

#header .social .kerem:hover {
  background-position: 0 -322px;
}

#header .social .facebook {
  background-position: 0 -94px;
}

#header .social .facebook:hover {
  background-position: 0 -369px;
}

#header .social .twitter {
  background-position: 0 -142px;
}

#header .social .twitter:hover {
  background-position: 0 -417px;
}

#header .social .dribbble {
  background-position: 0 -190px;
}

#header .social .dribbble:hover {
  background-position: 0 -465px;
}

#header .social .github {
  background-position: 0 -237px;
}

#header .social .github:hover {
  background-position: 0 -512px;
}

#main section {
    margin-top: 40px;
}
#main h2 {
  font-size: 38px;
  line-height: 58px;
  color: #343333;
  margin: 0 0 44px;
  font-weight: normal;
  padding: 0 0 0 75px;
  letter-spacing: -1px;
  border-bottom: none;
}

#main .exper {
  background: url(bullet-01.gif) no-repeat;
}

#main .diplomes {
  background: url(bullet-02.gif) no-repeat;
}

#main .autres {
  background: url(bullet-03.gif) no-repeat;
}

#main strong {
  display: block;
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;
}

#main strong a {
  color: #3CB9C6;
}

#main span {
  display: block;
  font-size: 17px;
  line-height: 21px;
  color: #999999;
}
/* line 262, assetic_compassysBCVu.sass */
#main h3 {
  font-size: 18px;
  line-height: 22px;
  color: #343333;
  margin: 0 0 6px;
  font-weight: normal;
}
#main h4 {
  color: #343333;
  font-weight: normal;
}
/* line 269, assetic_compassysBCVu.sass */
#main h3 span {
}
/* line 271, assetic_compassysBCVu.sass */
#main p {
  color: #999999;
  font-size: 17px;
  margin: 0 0 11px;
}
